#game_background{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 1920px;
    min-height: 1080px;
    transform: translate(-50%,-50%);
    z-index: 0;
    transition: filter 8s ease;
    filter: blur(0);
    background-repeat: repeat-y;
}

.GameScreen{
    position: absolute;
    z-index: 2;
}

#game_textBox{
    z-index: 10;
    position: absolute;
    top: 46rem;
    left: 50%;
    transform: translate(-50%, -5rem); 
    border: 2px solid black;
    background-color: rgba(240, 248, 255, 0.75);
    width: 35rem;
    height: auto;
    border-radius: 1rem;
    transition: height 0.3s ease;
    text-align: center;
    color: black;
}

#game_textBox p{
    font-weight: 500;
    font-family: 'main';
    margin: 15px;
    font-size: 30px;
}

#game_textBox h2{
    margin: 0;
    font-size: 40px;
    position: absolute;
    top: -16px;
    left: 15px;
}

#game_textBox button{
    position: relative;
    width: 4rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 5px; 
    border: none; 
    margin: 5px 5px 10px 5px;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle; 
}

#game_textBox button:hover h2{
  color: orange;
  text-shadow: 0px 0px 2px black;
}

#game_arrow{
    z-index: 1;
    position: relative;
    top: 64vh;
    left: 55%;
    transform: translate(-50%, -50%) scale(2, 1.3) rotate(-20deg);
    background-color: transparent;
    font-size: 80px;
    width: 6.5rem;
    height: 5rem;
    transition: opacity 1s ease;
    animation: game_hover 3s ease infinite; 
}

#game_arrow button{
    position: absolute;
    top: 2rem;
    left: 3rem;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 80px;
    width: 5rem;
    height: 2.5rem;
    z-index: 1;
    border: 0px;
}

#game_arrow h2{  
    color: rgb(204, 3, 3);
    margin: 0;
    padding: 0; 
    font-size: 6rem;
    position: absolute;
    top: -2.4rem; 
    left: 0.6rem;
    z-index: 0;
    text-shadow: -4px 4px 1px black;
}

#game1{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: row;
}

#game1 h2{
    z-index: 5;
    font-family: 'scary';
    font-size: 6rem;
    width: 40rem;
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity 2s ease;
    text-shadow: 0px 0px 8px rgb(22, 0, 0);
}

#game1 button{
    margin: 0;
    border: 0;
    background-color: transparent;
    color: white;
}

#setup{  
    opacity: 0;
    transition: opacity 1.5s ease;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
}

#setup button{
  position: relative;
  margin: 0 26rem;
}

#setup img{
    width: 17rem;
}

#Chalice1{
    transform:  rotate(-6deg);
}

#setup button:hover #Chalice1{
    width: 23rem;
    transform:  rotate(-15deg);
}

#Chalice2{
    transform:  scaleX(-1) rotate(-6deg);
}

#setup button:hover #Chalice2{
    width: 23rem;
    transform:  scaleX(-1) rotate(-15deg);
}

#setup button h1{
    font-family: 'brick';
    text-shadow: 0px 0px 10px black;
    mix-blend-mode: difference;
}

#reaper{
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-57%,-50%);
    width: 65rem;
    z-index: 1;
    margin: 0; 
}

#skull{
    width: 4.5rem;
    filter: brightness(0);
    transition: filter 1.5s ease;
    cursor: not-allowed;
}

#skull:hover{
    filter: brightness(1.5);
}

#button_skull{
    z-index: 2;
    position: absolute;
    top: -16.7rem;
    left: 50%;
    transform: translate(-55%,-50%);
}

#textBox_riddle{
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: 1;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-51%,-50%);
    width: 40rem;
    height: 21rem;   
}

#textBox_riddle p{
    top: 3rem;
    position: relative;
    font-weight: 500;
    font-family: 'main';
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    line-height: 10px;
    
}

#textBox_riddle img{
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 40rem;
}

#game_arrow_1{
    z-index: 1;
    position: relative;
    top: 64vh;
    left: 50%;
    transform: translate(-50%, -50%) scale(2, 1.3) rotate(-20deg);
    background-color: transparent;
    font-size: 80px;
    width: 6.5rem;
    height: 5rem;
    transition: opacity 1s ease;
    animation: game_hover 3s ease infinite; 
}

#game_arrow_1 button{
    position: absolute;
    top: 2rem;
    left: 3rem;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 80px;
    width: 5rem;
    height: 2.5rem;
    z-index: 1;
    border: 0px;
}

#game_arrow_1 h2{  
    color: rgb(204, 3, 3);
    margin: 0;
    padding: 0; 
    font-size: 6rem;
    position: absolute;
    top: -2.4rem; 
    left: 0.6rem;
    z-index: 0;
    text-shadow: -4px 4px 1px black;
}

@keyframes game_hover {
    0% {
        transform: translate(0) scale(2, 1.3) rotate(-20deg);
    }
    50% {
        transform: translate(30px,-10px) scale(2, 1.3) rotate(-20deg); /* Move up by 10px */
    }
    100% {
        transform: translate(0) scale(2, 1.3) rotate(-20deg);
    }
}

#Char_img{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: row;
}

#Char_img img{
    z-index: 1;
    width: 25rem;
    transform: translateY(-2.8rem);
}

#game2{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#gameboard{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgba(153, 111, 55, 0.048);
}

#game_2_player{
    position: absolute;
    transform: translate(50vw, 50vh);
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}

#rules{
    border: 2px solid black;
    position: absolute;
    transform: translate(50, 50);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    width: 20rem;
    height: 20rem;
    z-index: 10;
}

#rules img{
width: 35rem;
}

#rules h1{
    position: absolute;
    transform: translate(-130px, -220px);
    font-size: 3.5rem;
    width: 30rem;
    font-family: 'cursive';
}

#rules p{
    position: absolute;
    transform: translate(-20px, -80px);
    font-size: 1.7rem;
    z-index: 2;
    width: 23rem;
    font-family: 'cursive';
    font-weight: 500;
    text-shadow: 0px 0px 3px white;
    line-height: 30px;
}

#rules button {
    border: 0px;
    background-color: transparent;
    width: 11.5rem;
    height: 3rem;
    z-index: 3;
    position: absolute;
    transform: translate(-5.7rem, 22.5rem);
}

#rules button img{
    width: 15rem;
}

#rules button h1{
    position: absolute;
    left: -15px;
    top: 12rem;
    font-size: 2.3rem;
    font-family: 'brick';
}